@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
:target:before {
  content: "";
  display: block;
  height: 85px;
  margin: -85px 0 0;
}

html,
body {
  @apply bg-stone-100 dark:bg-stone-800 prefers-contrast:bg-stone-50 dark:prefers-contrast:bg-[rgb(18,15,13)];
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@layer components {
  .tap-highlight-none {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }
  .code-highlight {
    @apply font-mono border rounded border-stone-400/30 px-0.5 bg-stone-500/5 whitespace-nowrap;
  }
  .touch-opacity-0 {
    opacity: 1;
  }
  .focus-ring {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-stone-500 dark:focus-visible:ring-offset-stone-600;
  }
  @media (hover) {
    .touch-opacity-0 {
      opacity: 0;
    }
  }
}

h1:not(:where([class~="component"] *)) {
  @apply pb-4 text-4xl font-bold tracking-tight text-stone-900 sm:text-6xl dark:text-stone-50;
}
h2:not(:where([class~="component"] *)) {
  @apply text-3xl font-bold tracking-tight text-stone-900 sm:text-5xl dark:text-stone-50;
}
h3:not(:where([class~="component"] *)) {
  @apply text-xl font-medium text-stone-900 sm:text-2xl dark:text-stone-50 prefers-contrast:font-semibold;
}
h4:not(:where([class~="component"] *)) {
  @apply text-base font-semibold sm:font-medium sm:text-xl text-stone-900 dark:text-stone-50 prefers-contrast:font-semibold;
}
p:not(:where([class~="component"] *)) {
  @apply max-w-3xl md:text-lg text-stone-600 dark:text-stone-200 prefers-contrast:text-stone-800 dark:prefers-contrast:text-stone-50 prefers-contrast:font-medium;
}

.glare-wrapper {
  @apply pointer-events-none;
}
.elegant-glare .glare-wrapper {
  @apply opacity-80 dark:opacity-10;
}
.glass-glare .glare-wrapper {
  @apply opacity-30 dark:opacity-10;
}
.card-wrap:active {
  @apply scale-[0.995];
}

.button-preset {
  @apply active:scale-[0.98] transition disabled:opacity-60 disabled:cursor-not-allowed;
}
.primary-button {
  @apply px-4 py-2 text-sm font-medium text-white border border-transparent rounded-md shadow-sm bg-stone-800 dark:bg-stone-50 dark:text-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-stone-500 dark:hover:bg-stone-200 dark:ring-offset-stone-600 hover:bg-stone-800/90 button-preset;
}
.brand-button {
  @apply px-4 py-2 text-sm font-medium text-stone-800 bg-[#18f5d0] border border-[#67f0d9] rounded-md shadow-sm hover:bg-[#42ffdf] dark:bg-stone-600 dark:hover:bg-stone-700 dark:text-stone-100 dark:border-stone-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#42ffdf] dark:ring-offset-stone-600 button-preset;
}
.secondary-button {
  @apply px-4 py-2 text-sm font-medium bg-white border rounded-md shadow-sm text-stone-700 border-stone-300 hover:bg-stone-50 dark:bg-stone-600 dark:hover:bg-stone-700 dark:text-stone-100 dark:border-stone-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-stone-500 dark:ring-offset-stone-600 button-preset;
}
.button-gray-light {
  @apply transition select-none bg-stone-900 text-stone-100 focus:bg-stone-800 hover:bg-stone-800 hover:text-stone-50 focus:text-stone-50 active:bg-stone-700 prefers-contrast:border prefers-contrast:border-stone-50 prefers-contrast:hover:bg-stone-600 prefers-contrast:focus:bg-stone-600 prefers-contrast:hover:text-stone-50 dark:bg-stone-600 dark:text-stone-50 dark:hover:bg-stone-500 dark:focus:bg-stone-500 dark:hover:text-stone-50 dark:focus:text-stone-50 dark:prefers-contrast:font-bold dark:prefers-contrast:bg-transparent dark:prefers-contrast:bg-stone-100 dark:prefers-contrast:text-stone-900 dark:prefers-contrast:hover:bg-stone-800 dark:prefers-contrast:focus:bg-stone-800 dark:prefers-contrast:border-stone-500 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-stone-50 focus-visible:ring-offset-transparent dark:focus-visible:ring-offset-stone-50;
}
.button-gray-dark {
  @apply transition select-none bg-stone-50 text-stone-800 focus:bg-stone-100 hover:bg-stone-100 hover:text-stone-900 focus:text-stone-900 active:bg-stone-200 prefers-contrast:border prefers-contrast:bg-stone-50 prefers-contrast:text-stone-900 prefers-contrast:border-stone-800 prefers-contrast:hover:bg-stone-50 prefers-contrast:focus:bg-stone-50 prefers-contrast:hover:text-stone-900 dark:bg-stone-900 dark:text-stone-100 dark:hover:bg-stone-900/50 dark:focus:bg-stone-900/50 dark:active:bg-stone-700 dark:hover:text-stone-100 dark:focus:text-stone-100 dark:prefers-contrast:font-bold dark:prefers-contrast:bg-black dark:prefers-contrast:text-stone-50 dark:prefers-contrast:hover:bg-stone-800 dark:prefers-contrast:focus:bg-stone-800 dark:prefers-contrast:hover:text-stone-50 dark:prefers-contrast:focus:text-stone-50 dark:prefers-contrast:border-stone-200 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-stone-500 focus-visible:ring-offset-transparent dark:focus-visible:ring-offset-stone-600;
}

.Resizer {
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
}
.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 6px solid rgba(255, 255, 255, 0);
  border-right: 6px solid rgba(255, 255, 255, 0);
  @apply hidden sm:block;
}
.Resizer.vertical::after {
  content: "";
  @apply absolute left-2 right-0 top-[calc(50%-16px)] cursor-ew-resize h-8 w-1.5 bg-stone-500/60 dark:bg-stone-500/80 prefers-contrast:bg-stone-800 dark:prefers-contrast:bg-stone-300 rounded-full;
}

pre .token-line {
  line-height: 1.35em;
  /* height: 1.35em; */
}

pre .table-row {
  display: table-row;
}

pre .line-no {
  display: table-cell;
  text-align: right;
  padding-right: 1em;
  user-select: none;
  opacity: 0.5;
}

pre .line {
  display: table-cell;
}

.code-block-wrap:hover .code-block-touch,
.code-block-wrap:focus-within .code-block-touch {
  @apply opacity-100 pointer-events-auto;
}

.doc-nav-header {
  @apply hidden py-4 text-sm font-semibold lg:text-base text-stone-700 dark:text-stone-50 md:block;
}
.doc-nav {
  @apply flex items-start py-1 text-stone-500 hover:text-stone-900 dark:text-stone-400 prefers-contrast:text-stone-700 dark:prefers-contrast:text-stone-200 dark:hover:text-stone-300 motion-safe:transition;
}
.doc-nav.active-scroll-spy {
  @apply flex items-start py-1 font-medium text-stone-800 dark:text-stone-50;
}
.mobile-doc-nav .doc-nav,
.mobile-doc-nav .doc-nav-header {
  @apply hidden pointer-events-none;
}
.mobile-doc-nav .doc-nav.active-scroll-spy {
  @apply block prefers-contrast:font-bold;
}
.doc-nav-expand .doc-nav-wrap {
  @apply space-y-2 divide-y divide-stone-200/70 dark:divide-stone-700/50;
}
.doc-nav-expand .doc-nav-wrap .doc-nav {
  @apply pt-2.5;
}
.patch-wrap {
  @apply pt-12 pb-16 sm:pt-20;
}
.patch {
  @apply grid grid-flow-row grid-cols-1 sm:grid-cols-2 md:grid-cols-2;
}
.patch .img-wrap {
  @apply transform -translate-y-1/2 top-1/2 w-36 h-36;
}
.patch .img {
  @apply transform translate-x-[43%] prefers-contrast:filter prefers-contrast:contrast-200;
}

.grid-wrap .grid-title {
  @apply pointer-hover:opacity-0 pointer-hover:pointer-events-none;
}
.grid-wrap:hover .grid-title,
.grid-wrap:focus-within .grid-title {
  @apply opacity-100 pointer-events-auto;
}
a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}
a.skip-main:focus,
a.skip-main:active {
  @apply border-4 shadow-xl border-stone-100 bg-stone-700 dark:bg-stone-200 dark:border-stone-700 rounded-xl text-stone-200 dark:text-slate-700;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow: auto;
  margin: 10px 35%;
  padding: 5px;
  text-align: center;
  font-size: 1.2em;
  z-index: 999;
}

/* App Segment Control */
.segment-wrap {
  @apply rounded-full inline-table prefers-contrast:border prefers-contrast:border-black dark:prefers-contrast:border-white;
}
.segment-wrap .segmenet-inner {
  @apply inline-flex space-x-4 transition hover:delay-[0ms] rounded-full delay-100 duration-300;
}
.segment-wrap .segmenet-inner .segment-button {
  @apply dark:text-white/80 text-stone-500 dark:text-stone-400 relative min-w-[4.5rem] transition px-3 py-1.5 font-semibold text-sm transform active:scale-95  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-transparent focus:ring-stone-500 dark:focus:ring-stone-400 rounded-full prefers-contrast:text-stone-700 dark:prefers-contrast:text-stone-300 hover:opacity-80 outline-none;
}
.segment-wrap .segmenet-inner .segment-button.selected {
  @apply shadow-lg prefers-contrast:text-white dark:prefers-contrast:text-black text-stone-800 dark:text-stone-200 hover:opacity-100;
}
.segment-wrap .segmenet-inner .active-button {
  @apply absolute inset-0 z-[1] rounded-full bg-white dark:bg-white/20 prefers-contrast:bg-black dark:prefers-contrast:bg-white;
}
/* Component Styles */
.card-bg {
  @apply bg-stone-50 dark:bg-stone-800 shadow-stone-900/10 dark:shadow-stone-900/30 will-change-transform;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
