@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-stone-100 dark:bg-stone-800;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@layer components {
  .touch-opacity-0 {
    opacity: 1;
  }
  @media (hover) {
    .touch-opacity-0 {
      opacity: 0;
    }
  }
}

h2 {
  @apply text-3xl font-bold tracking-tight text-stone-900 sm:text-5xl dark:text-stone-50;
}
p {
  @apply max-w-3xl md:text-lg text-stone-600 dark:text-stone-200 prefers-contrast:text-stone-800 dark:prefers-contrast:text-stone-50;
}

.glare-wrapper {
  @apply pointer-events-none;
}
.elegant-glare .glare-wrapper {
  @apply opacity-80 dark:opacity-10;
}
.glass-glare .glare-wrapper {
  @apply opacity-30 dark:opacity-10;
}
.card-wrap:active {
  @apply scale-[0.995];
}
div[data-type="SplitPane"] {
  @apply flex justify-center;
}
div[data-type="SplitPane"] > div:nth-child(3) {
  @apply hidden sm:block;
}
div[data-type="Resizer"] {
  @apply opacity-0 ml-[0.5rem] hidden sm:block;
}
